{
"API" :
    {
        "url" : "https://api.bybit.com"
    },
"WSS" :
    {
        "host" : "stream.bybit.com",
        "port" : "443"

    },
"Markets" :
    {
        "BTCUSDT" : {
            "buy" : {
                "diffratelow"   : 0.15,
                "diffratehigh"  : 0.3,
                "minspread"     : -7,
                "emamethod"     : 0,
                "orderprice"    : 15,
                "enable"        : 1,
                "nextbuyorder"  : 0.975
            },
            "sell": {
                "nextsellorder" : 0.03,
                "enable"        : 1
            }
        },
        "ETHUSDT" : {
            "buy" : {
                "diffratelow"   : 0.15,
                "diffratehigh"  : 0.3,
                "minspread"     : -7,
                "emamethod"     : 0,
                "orderprice"    : 15,
                "enable"        : 1,
                "nextbuyorder"  : 0.975
            },
            "sell": {
                "nextsellorder" : 0.03,
                "enable"        : 1
            }
        }
    }
}